* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://t4.ftcdn.net/jpg/04/17/63/71/240_F_417637105_WE0CsiiBnTYq0cH1dtV3sJe3fnbUaRcx.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1322px 800px;
  overflow:hidden;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 5px;
}

.user-logo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.detail {
  padding: 10px;
}

#email,
#password {
  height: 30px;
  width: 250px;
}

.button {
  text-align: center;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

button {
  /* margin-top: 10px; */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.button p {
  margin-top: 20px;
}

.head1 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}
